<div class="login-container">

  <header class="login-header">
    <div class="login-header-left">
      <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="logo">
      <h2>O Facebook ajuda você a se conectar e compartilhar com as pessoas que fazem parte da sua vida.</h2>
    </div>


    <div class="login-header-right">

      <div class="login-header-right-form">
        <form class="login-header-right-form-content">

          <input type="text" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Senha">

          <button type="submit" class="btn" [disabled]="form.invalid || form.pending">Entrar</button>

          <a href="#">Esqueceu a senha?</a>

        </form>

        <button class="login-header-right-createbtn" (click)="openRegister()">Criar nova conta</button>

      </div>

      <p>Criar uma Página para uma celebridade, banda ou empresa.</p>

    </div>
  </header>



</div>